{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron description" >
        <div class="container" >
        <h1 class="display-3">About</h1>
        <p>
            Meet your team.
        </p>
        </div>
    </div>
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
        <img class="rounded-circle" src="https://zen-gineer.github.io/jen.jpg"  width="140" height="140">
        <h2>Jennifer Shtaway</h2>
        <p>"Look deep into nature, and then you will understand everything better." -Albert Einstein</p>
        <p><a class="btn btn-secondary" href="https://zen-gineer.github.io/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle" src="https://media.licdn.com/dms/image/C5603AQGu_aVva7dKwA/profile-displayphoto-shrink_800_800/0?e=1542844800&v=beta&t=QQFfaewY0pvCmgwVJ36uY-VKR_IxJjpM6GRGOdGrVaA" alt="Generic placeholder image" width="140" height="140">
        <h2>Raymond Tui</h2>
        I am a multi-dimensional professional, who had experience in public accounting and early-stage startup. I am comfortable to use data analytics tools (Python, SQL, and Excel VBA) and provide insights within big data.</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/raymondwtiu/detail/photo/" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Aubrey Beltran</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div><!-- /.container -->
    <!-- FOOTER -->
    <!-- <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
    </footer>
    </main> -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    
        

{% endblock %}