
{% extends 'layout.html' %}

{% block body %}
<div class='description jumbotron row'>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
     <div class="container" >
        <h1 class="display-3">Artist</h1>
        <p>
            Doing something that has to do with artist. :)
        </p>
        <!-- <p>{{artist_name}}</p> -->
        <form class="form-inline my-2 my-lg-0 ">
            <input id='inputbox' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="artistName">
            <button class="btn btn-outline-success my-2 my-sm-0 text-dark" type="submit" >Search Artist</button>
        </form>
    </div>
</div>
<div class='row col-lg-4' ><p id='map'></p></div>
<script>
    var results = {{ results|tojson }}
</script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/artist_logics.js') }}"></script>
{% endblock %}