
{% extends 'layout.html' %}


{% block body %}

<div class="jumbotron description" >
    <div class="container" >
      <h1 class="display-3">Music Trends in America</h1>
      <p>Once upon a time, music didn’t all sound the same, what happened and when will it end?!? </p>
      <p>How have trends in the top 100 songs in America, as noted by Billboard and Last.fm, changed over time?
          Have the top hits come from more or fewer genres (and, if time, artists)</p>
      <p>What do the top songs each year and each decade show for trends in the popularity of certain genres and artists?</p>
      <p>
          How much does the self-given title of an artist (ex. Pitbull as “Mr. Worldwide” or Beyonce as “Queen Bee”) truly play out in international trends?
          Is Pitbull truly “Mr. Worldwide”?
      </p>
    </div>
</div>
{% endblock %}



